<?xml version="1.0" ?>
<!--
/**
 * Copyright © ViaBill. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config>
    <modules>
        <Viabill_Payment>
            <version>1.0.4</version>
        </Viabill_Payment>
    </modules>
    <global>
        <models>
            <viabill>
                <class>Viabill_Payment_Model</class>
            </viabill>
        </models>
        <helpers>
            <viabill>
                <class>Viabill_Payment_Helper</class>
            </viabill>
        </helpers>
        <blocks>
            <viabill>
                <class>Viabill_Payment_Block</class>
            </viabill>
        </blocks>
        <resources>
            <viabill_setup>
                <setup>
                    <module>Viabill_Payment</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </viabill_setup>
            <viabill_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </viabill_write>
            <viabill_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </viabill_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <viabill>
                <use>standard</use>
                <args>
                    <module>Viabill_Payment</module>
                    <frontName>viabill</frontName>
                </args>
            </viabill>
        </routers>
        <layout>
            <updates>
                <viabill>
                    <file>viabillpayment.xml</file>
                </viabill>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <viabill>
                <active>0</active>
                <title>ViaBill Payment</title>
                <model>viabill/viabill</model>
                <language>auto</language>
                <order_status>pending</order_status>
                <payment_action>order</payment_action>
                <url_cancel>viabill/viabill/cancel</url_cancel>
                <url_success>viabill/viabill/success</url_success>
                <url_callback>viabill/viabill/callback</url_callback>
                <debug>0</debug>
                <callback_xdebug_session_enable>0</callback_xdebug_session_enable>
                <callback_debug_base_url></callback_debug_base_url>
            </viabill>
            <viabill_config_form>
                <order_status_before_authorization>pending</order_status_before_authorization>
                <order_status_after_authorization>pending_payment</order_status_after_authorization>
                <order_status_after_capture>processing</order_status_after_capture>
                <payment_action>authorize</payment_action>
            </viabill_config_form>
        </payment>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <viabill_payment before="Mage_Adminhtml">Viabill_Payment_Adminhtml</viabill_payment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <viabill>
                    <file>viabillpayment.xml</file>
                </viabill>
            </updates>
        </layout>
        <translate>
            <modules>
                <Viabill_Payment>
                    <files>
                        <additional_file>Viabill_Payment.csv</additional_file>
                    </files>
                </Viabill_Payment>
            </modules>
        </translate>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <viabill_order_renew_button>
                        <class>viabill/observer</class>
                        <type>singleton</type>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </viabill_order_renew_button>
                </observers>
            </adminhtml_widget_container_html_before>
            <admin_session_user_login_success>
                <observers>
                    <viabill_admin_notifications>
                        <class>viabill/observer</class>
                        <type>singleton</type>
                        <method>adminLoginAfter</method>
                    </viabill_admin_notifications>
                </observers>
            </admin_session_user_login_success>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <viabill translate="title" module="viabill">
                            <title>Viabill</title>
                            <children>
                                <order translate="title">
                                    <title>Order</title>
                                    <children>
                                        <renew translate="title">
                                            <title>Renew Order</title>
                                        </renew>
                                    </children>
                                </order>
                            </children>
                        </viabill>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
